{
  "blueprint" : "datalyse-hdfs-yarn",
  "host_groups" :[
    {
      "name" : "master",
      "hosts" : [
        {
          "fqdn" : "{{ hostvars[groups['tag_master'][0]]['weave_ambari_agent_hostname'] }}.{{ weave_domain }}"
        }
      ]
    },
    {
      "name" : "slave",
      "hosts" : [
      {% for host in groups['tag_slave'] %}
        {
          "fqdn" : "{{ hostvars[host]['weave_ambari_agent_hostname'] }}.{{ weave_domain }}"
        }{% if not loop.last %},{% endif %}
      {% endfor %}
      ]
    }
  ]
}